* {
    cursor: default;
}

body {
    margin: 0px;
    height: 1200px;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
    transition: 1s;
}

.blur {
    position: absolute;
    background: linear-gradient(0deg, black, rgba(0,0,0,0));
    height: 100%;
    width: 100%;
    bottom: 0;
    transition: 0.3s;
    z-index: -2;
}

.character {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 100px;
    left: 30px;
}

.information {
    position: absolute;
}

.avatar {
    border-radius: 500px;
    width: 200px;
    margin-right: 120px;
    border: 3px solid white;
    box-sizing: border-box;
    transition: 0.1s;
}

.avatar:hover {
    border: 10px solid rgb(0, 179, 255);
}



.frame {
    position: absolute;
    left: 200px;
    width: 700px;
    opacity: 0;
}

.information {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 1000px;
    color: black;
    transition: 0.3s;
}